In [ ]:
# Importamos el conector y creamos la conexi贸n con SQL
import mysql.connector

cnx = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab',
                              host = '127.0.0.1')

# Creamos la base de datos de nuestro proyecto
mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE da_proyecto_modulo1 ")
    cnx.commit()
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

In [ ]:
# Volvemos a crear la conexi贸n y creamos la tabla sql
cnx = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab',
                              host = '127.0.0.1', database = 'da_proyecto_modulo1')


mycursor = cnx.cursor()
try:
    mycursor.execute("""CREATE TABLE `tabla_sql` (
`index_sql` INT NOT NULL,
`q10_part_1` VARCHAR(150),
`q10_part_2` VARCHAR(150),
`q10_part_3` VARCHAR(150),
`q10_part_4` VARCHAR(150),
`q10_part_5` VARCHAR(150),
`q10_part_6` VARCHAR(150),
`q10_part_7` VARCHAR(150),
`q10_part_8` VARCHAR(150),
`q10_part_9` VARCHAR(150),
`q10_part_10` VARCHAR(150),
`q10_part_11` VARCHAR(150),
`q10_part_12` VARCHAR(150),
`q10_part_13` VARCHAR(150),
`q10_part_14` VARCHAR(150),
`q10_part_15` VARCHAR(150),
`q10_part_16` VARCHAR(150),
`q10_other` VARCHAR(150),
`d482xta` VARCHAR(150),
PRIMARY KEY (`index_sql`)
)""")
    cnx.commit()
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

In [ ]:
# Volvemos a crear la conexi贸n y creamos la tabla xml
cnx = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab',
                              host = '127.0.0.1', database = 'da_proyecto_modulo1')


mycursor = cnx.cursor()
try:
    mycursor.execute("""CREATE TABLE `tabla_xml` (
`index_xml` INT NOT NULL,
`time` VARCHAR(150),
`age` VARCHAR(150),
`gender` VARCHAR(150),
`index_sql` INT NOT NULL,
PRIMARY KEY(`index_xml`),
	CONSTRAINT `fk_sql_xml` 
		FOREIGN KEY(`index_sql`) 
	REFERENCES `tabla_sql`(`index_sql`)
    ON DELETE CASCADE ON UPDATE CASCADE
)""")
    cnx.commit()
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

In [ ]:
# Volvemos a crear la conexi贸n y creamos la tabla txt
cnx = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab',
                              host = '127.0.0.1', database = 'da_proyecto_modulo1')


mycursor = cnx.cursor()
try:
    mycursor.execute("""CREATE TABLE `tabla_txt` (
`index_txt` INT NOT NULL AUTO_INCREMENT,
    `index_sql` INT NOT NULL,
    `q3` VARCHAR(500),
    `q4` VARCHAR(500),
    `q5` VARCHAR(500),
    `q6` VARCHAR(500),
    `q7` VARCHAR(500),
    `q8` VARCHAR(500),
    `q9` VARCHAR(500),
    `q11` VARCHAR(500),
    `q12` VARCHAR(500),
    `q13` VARCHAR(500),
    `q14` VARCHAR(500),
    `q15` VARCHAR(500),
    `q16` VARCHAR(500),
    `q17` VARCHAR(500),
    `q20` VARCHAR(500),
    `q21` VARCHAR(500),
    `q22` VARCHAR(500),
    `q23` VARCHAR(500),
    `q24` VARCHAR(500),
    `q25` VARCHAR(500),
    `q26` VARCHAR(500),
    `q32` VARCHAR(500),
    `q33` VARCHAR(500),
    `q34` VARCHAR(500),
    `q35` VARCHAR(500),
    `q41` VARCHAR(500),
    PRIMARY KEY (`index_txt`),
		CONSTRAINT `fk_sql_txt` 
			FOREIGN KEY(`index_sql`) 
		REFERENCES `tabla_sql`(`index_sql`)
		ON DELETE CASCADE ON UPDATE CASCADE)""")
    cnx.commit()
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)